<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin data</title>
</head>
<body>

    <h1>Информация о криптовалюте</h1>

    <form method="post" id="crypto-form">
        {% csrf_token %}
        <label for="crypto_input">Введите ID или имя криптовалюты:</label>
        <input type="text" name="crypto_input" id="crypto_input">
        <button type="submit">Получить информацию</button>
    </form>

    <div id="crypto-info">
        {% if crypto_info %}
            <h2>Результаты:</h2>
            <p>ID: <span id="crypto-id">{{ crypto_info.id }}</span></p>
            <p>Name: <span id="crypto-name">{{ crypto_info.name }}</span></p>
            <p>Price: <span id="crypto-price">{{ crypto_info.price }}</span></p>
        {% endif %}
    </div>
</body>
</html>